name: "Code"
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  code:
    runs-on: x86_64-linux
    steps:
      - uses: actions/checkout@v4
      - run: nix --accept-flake-config run github:juspay/vira ci
